@model IEnumerable<mYPMS.Models.tGate>
@using NonFactors.Mvc.Grid;
@{
    ViewData["Title"] = "دروازه ها";
}
<div class="w3-container">
    <!--BEGIN Title and Bar-->
    <div class="w3-display-container" style="height:70px;">
        <div class="w3-display-left">
            <a asp-action="Index"><i class="fa fa-arrow-circle-left w3-xxxlarge w3-text-green w3-hover-text-lime"></i></a>
        </div>
        <div class="w3-display-middle">
            <h1 class="w3-text-black"><b>@ViewData["Title"]</b></h1>
        </div>
        <div class="w3-display-right">
            <i class="fa fa-plus-circle w3-xxxlarge w3-text-red w3-hover-text-lime" style="cursor:pointer" onclick="getGate();"></i>
        </div>
    </div>
    <!--END Title and Bar-->
    <!--BEGIN Search Bar-->
    <div class="w3-row w3-padding-large">
        <div class="w3-col w3-right" style="width:50px;"><i class="fa fa-search w3-xxlarge"></i></div>
        <div class="w3-rest"><input id="search" class="w3-input w3-border w3-round-large" type="text" /></div>
    </div>
    <!--END Search Bar-->
    <!--BEGIN Data Table-->
    <div class="w3-container w3-padding-large">
        @(
            Html.Grid(Model).Id("dataTable")
            .Build(columns =>
            {
                columns.Add(model => model.xParking.xTitle).Titled("پارکینگ").Css("w3-right-align");
                columns.Add(model => model.xName).Titled(Html.DisplayNameFor(model => model.xName)).Css("w3-right-align");
                columns.Add(model => model.xDirection).Titled(Html.DisplayNameFor(model => model.xDirection)).RenderedAs(model =>
                {
                    if (model.xDirection == 1) return "ورودی";
                    else if (model.xDirection == 2) return "خروجی";
                    else return "ورودی/خروجی";
                }).Css("w3-right-align"); ;
                columns.Add(model => @"<div class=""w3-cell-row"">
        <div class=""w3-container w3-cell"">
        <i style=""cursor:pointer;"" onclick=""getGate('" + model.xId + @"');"" class=""fa fa-pencil-square-o w3-xlarge w3-hover-text-red""></i>
        </div>
        <div class=""w3-container w3-cell"">
        <form action=""/Settings/GateDelete"" method=""post"" id=""GateDeleteForm_" + model.xId + @""">
        <input type=""hidden"" value=" + model.xId + @" name=""xId"" id=""xId"" />
        <i style=""cursor:pointer;"" onclick=""document.getElementById('GateDeleteForm_" + model.xId + @"').submit();"" class=""fa fa-trash-o w3-xlarge w3-hover-text-red""></i>
        </form>
        </div>
        </div>").Encoded(false).Width(120);
            })
            .RowAttributed(model => new { @class = "w3-hover-lime", data_id = model.xId })
            .Filterable()
            .Css("w3-table-all w3-card-4 w3-right-align")
            .Sortable().Pageable()
            )
    </div>
    <!--END Data Table-->
</div>
<!--START MODAL DATA EDIT-->
<div id="gateEdit" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
        <header class="w3-container w3-light-gray">
            <span onclick="document.getElementById('gateEdit').style.display='none'"
                  class="w3-button w3-display-topleft fa fa-window-close w3-xlarge"></span>
            <h2>جدید / ویرایش دروازه</h2>
        </header>

        <form asp-action="gateEdit" method="post" id="formGate">
            <div class="w3-container w3-padding" id="pricecontent">
                <input type="hidden" id="xId" name="xId" />
                <div class="w3-cell-row w3-container">
                    <div class="w3-cell"><select id="selectParking" class="w3-select"><option disabled selected value=0>انتخاب پارکینگ</option></select></div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-half w3-padding-large">
                        <lable>@Html.DisplayNameFor(x=>x.xDirection)</lable>
                        <select id="xDirection" class="w3-select">
                            <option value="3">ورودی/خروجی</option>
                            <option value="1">ورودی</option>
                            <option value="2">خروجی</option>
                        </select>
                    </div>
                    <div class="w3-half w3-padding-large">
                        <lable class="w3-right w3-col">@Html.DisplayNameFor(x=>x.xName)</lable>
                        <input id="xName" class="w3-input w3-round" type="text" placeholder="عنوان" />
                    </div>
                </div>
                <div class="w3-container">
                    <div class="w3-half w3-padding-large">
                        <lable>@Html.DisplayNameFor(x=>x.xVideoOutUrl)</lable>
                        <input id="xVideoOutUrl" class="w3-input w3-round" type="url" dir="ltr" />
                    </div>
                    <div class="w3-half w3-padding-large">
                        <lable>@Html.DisplayNameFor(x=>x.xVideoInUrl)</lable>
                        <input id="xVideoInUrl" class="w3-input w3-round" type="url" dir="ltr" />
                    </div>
                </div>
                <div class="w3-container">
                    <div class="w3-half w3-padding-large">
                        <lable>@Html.DisplayNameFor(x=>x.xImageInUrl)</lable>
                        <input id="xImageInUrl" class="w3-input w3-round" type="url" dir="ltr" />
                    </div>
                    <div class="w3-half w3-padding-large">
                        <lable>@Html.DisplayNameFor(x=>x.xImageOutUrl)</lable>
                        <input id="xImageOutUrl" class="w3-input w3-round" type="url" dir="ltr" />
                    </div>
                </div>
                <div class="w3-container">
                    <div class="w3-half w3-padding-large">
                        <lable>@Html.DisplayNameFor(x=>x.xBarrierOutUrl)</lable>
                        <input id="xBarrierOutUrl" class="w3-input w3-round" type="url" dir="ltr" />
                    </div>
                    <div class="w3-half w3-padding-large">
                        <lable>@Html.DisplayNameFor(x=>x.xBarrierInUrl)</lable>
                        <input id="xBarrierInUrl" class="w3-input w3-round" type="url" dir="ltr" />
                    </div>
                </div>
                <div class="w3-cell-row w3-container">
                    <div class="w3-quarter w3-right"><lable>@Html.DisplayNameFor(x=>x.xDescription)</lable></div>
                    <div class="w3-threequarter"><textarea id="xDescription" class="w3-input w3-round" placeholder="توضیحات"></textarea></div>
                </div>
            </div>
        </form>
        <footer class="w3-container w3-light-gray">
            <div class="w3-cell-row w3-center">
                <div class="w3-container w3-cell">
                    <button class="w3-button w3-green w3-hover-lime w3-round" onclick="setGate();">ذخیره</button>
                </div>
                <div class="w3-container w3-cell">
                    <button class="w3-button w3-red w3-hover-lime w3-round" onclick="document.getElementById('gateEdit').style.display='none'">انصراف</button>
                </div>
            </div>
        </footer>
    </div>
</div>
<!--END MODAL DATA EDIT-->
@section Scripts
    {
    <script type="text/javascript">
        $.getJSON(
            "/Settings/ParkingExists",
            function (data) {
                $("#selectParking option:gt(0)").remove();
                $.each(data, function () { $("#selectParking").append($("<option></option>").attr("value", this.xId).text(this.xTitle)); });
            }
        );
        function getGate(id = 0) {
            if (id == 0) {
                $("#formGate #selectParking").val($("#formGate #selectParking option:first").val());
                $("#formGate #xId").val(0);
                $("#formGate #xName").val("");
                $("#formGate #xDirection").val(3);
                $("#formGate #xVideoInUrl").val("");
                $("#formGate #xVideoOutUrl").val("");
                $("#formGate #xImageInUrl").val("");
                $("#formGate #xImageOutUrl").val("");
                $("#formGate #xBarrierInUrl").val("");
                $("#formGate #xBarrierOutUrl").val("");
                $("#formGate #xDescription").val("");
                $("#gateEdit").css("display", "block");
            } else {
                $.getJSON(
                    "/Settings/GateExists",
                    { "xId": id },
                    function (data) {
                        $("#formGate #selectParking").val(data.xParkingId);
                        $("#formGate #xId").val(data.xId);
                        $("#formGate #xName").val(data.xName);
                        $("#formGate #xDirection").val(data.xDirection);
                        $("#formGate #xVideoInUrl").val(data.xVideoInUrl);
                        $("#formGate #xVideoOutUrl").val(data.xVideoOutUrl);
                        $("#formGate #xImageInUrl").val(data.xImageInUrl);
                        $("#formGate #xImageOutUrl").val(data.xImageOutUrl);
                        $("#formGate #xBarrierInUrl").val(data.xBarrierInUrl);
                        $("#formGate #xBarrierOutUrl").val(data.xBarrierOutUrl);
                        $("#formGate #xDescription").val(data.xDescription);
                        $("#gateEdit").css("display", "block");
                    });
            }
        }
        function setGate() {
            $.post("/Settings/GateEdit",
                {
                    xParkingId: $("#formGate #selectParking").find(":selected").val(),
                    xId: $("#formGate #xId").val(),
                    xName: $("#formGate #xName").val(),
                    xDirection: $("#formGate #xDirection").find(":selected").val(),
                    xVideoInUrl: $("#formGate #xVideoInUrl").val(),
                    xVideoOutUrl: $("#formGate #xVideoOutUrl").val(),
                    xImageInUrl: $("#formGate #xImageInUrl").val(),
                    xImageOutUrl: $("#formGate #xImageOutUrl").val(),
                    xBarrierInUrl: $("#formGate #xBarrierInUrl").val(),
                    xBarrierOutUrl: $("#formGate #xBarrierOutUrl").val(),
                    xDescription: $("#formGate #xDescription").val(),
                }, function (data, status) {
                    if (status == "success") location.reload();
                    else alert(status + "\n" + data);
                });
        }
    </script>
}
